.options {
  position: absolute;
  top: 45px;
  box-shadow: -2px -5px 29px -8px rgba(34, 60, 80, 0.21);
  background-color: #fff;
  // transform: translateY(0);
  opacity: 0;
  transition: all 0.5s ease-in;
  transform-origin: 0px 50px;
  animation: ani 0.3s forwards;
  border-radius: 4px;
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
