.options {
  position: absolute;
  z-index: 10;
  box-shadow: -2px -5px 29px -8px rgba(34, 60, 80, 0.21);
  background-color: #fff;
  animation: ani 0.3s forwards;
  border-radius: 4px;
}

@keyframes ani {
  0% {
    opacity: 0;
    // transform: translateY(30px);
  }
  100% {
    opacity: 1;
    // transform: translateY(0px);
  }
}
